<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <form id="main">
        <div class="bar">
            <input 
                type="text"
                v-model="searchString"
                placeholder="Enter your search terms"
            >
        </div>
        <ul>
            <li v-for="movie in filteredMovies">
                <img v-bind:src="movie.image"/>
                <p>{{ movie.title }}</p>
            </li>
        </ul>
    </form>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./vue.js"></script>
</body>
</html>